@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,300&family=Outfit:wght@100;200;300;400;500;600;700&family=Roboto:wght@500&display=swap');
*{
    margin-left:10px;
    padding:0;
   
}
table{
    background-color: bisque;
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

th{
    font-family:Roboto;
    font-size:20px;
    border-style:dotted;
    border-width:2px;
    text-align: center;
}

td{
    font-family:Outfit;
    font-size:15px;
    border:2px dotted;
    margin:15px;
    padding:10px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}